*{
    margin: -1px;
    padding: -90px;
    font-family:century;
}
body {
    background-image: url(../pic1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 70vw;
    height: 70vh;
  }
ul{
    float: left;
    list-style-type: none;
    margin-top: 30px;
    min-height: 400px;
    margin-right: 60px;
    font-size: 17px;
}
ul li{
    display: inline-block;
}

.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #e7d2b9;
  
}
.about img{
    height: 400px;
    width: 400px;
    border-radius: 50px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about h2{
    color:#edffef;
    font-size: 75px;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
}
.about-text p{
    color: #121313;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 28px;
    margin-bottom: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.about-text{
    width: 500px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #16384c;
}
.container{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}
.container .card{
    position: relative;
    max-width: 300px;
    height: 420px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(red, green, blue, alpha);
    transition: 0.3s ease-in-out;

}
.container .card:hover{
    height: 420px;

}
.container .card .imgBx{
    position:relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(red, green, blue, alpha) ;
}
.container .card .imgBx img{
    max-width: 100%;
    border-radius: 4px;
}
.container .card .content{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.container .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 3s;

}