@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}
html {
    scroll-behavior: smooth;
  }
  
  h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
  }
  
  h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
  }
  
  h4 {
    font-size: 20px;
    color: #222;
  }
  
  h6 {
    font-weight: 700;
    font-size: 12px;
  }
  
  p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
  }
  
  .section-p1 {
    padding: 40px 80px;
  }
  
  .section-m1 {
    margin: 40px 0;
  }
  
  body {
    width: 100%;
  }
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #f0dcdc;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}


#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    transition: 0.3s ease;
}
#navbar li a:hover{
    color: #088178;
}
#navbar li a:hover,
#navbar li a.active{
    color: #088178;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#header .card{
    width: 50px;
    height: 50px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    background-color: beige;
    
}
#header .card .logo3{
    width: 100%;
    height: 100%;

}

  #hero{
    background-image:url("images/home/a.png");
    height: 130vh;
    width: 100%;
    background-position: top 25% right 0%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-size: cover;

  }
  #hero h4{
    padding-bottom: 15px;


  }
  #hero h1{
    color: #088178;
  }
  #hero button{
    color: black;
    background: transparent;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 700;
    font-weight: 15px;

  }

  #product1{
    text-align: center;
    

  }
  
  #product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
  }

  #product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;

  }
  #product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
  }

  #product1 .pro img{
    width: 100%;
    height: 80%;
    border-radius: 20px ;
  }

  #product1 .pro .des{
    text-align: start;
    padding: 10px 0;
  }
  #product1 .pro .des span{
    color: #606063;
    font-size: 12px;
  }

  #product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
  }
  #product1 .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}
  
#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e3e6f3;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

/* ADD TO CART */
body{
    background-color: #E3E7E8;
    font-family: system-ui;
}
.container{
    width: 1000px;
    margin: auto;
    transition: 0.5s;
}
header{
    display: grid;
    grid-template-columns: 1fr 50px;
    margin-top: 50px;
}
header .shopping{
    position: relative;
    text-align: right;
}
header .shopping img{
    width: 40px;
}
header .shopping span{
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 3px 10px;
}
.list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 50px;
}
.list .item{
    text-align: center;
    background-color: #DCE0E1;
    padding: 20px;
    box-shadow: 0 50px 50px #757676;
    letter-spacing: 1px;
}
.list .item img{
    width: 200px;
    height: 250px;
}
.list .item .title{
    font-weight: 600;
}
.list .item .price{
    margin: 10px;
}
.list .item button{
    background-color: #1C1F25;
    color: #fff;
    width: 100%;
    padding: 10px;
}
.card{
    position: fixed;
    top:0;
    left: 100%;
    width: 500px;
    background-color: #453E3B;
    height: 100vh;
    transition: 0.5s;
}
.active .card{
    left: calc(100% - 500px);
}
.active .container{
   transform: translateX(-200px);
}

.card h1{
    color: #E8BC0E;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}
.card .checkOut{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    height: 150px;
    grid-template-columns: repeat(2, 1fr);

}

.card .checkOut div{
    background-color: #E8BC0E;
    width: 100%;
    height: 70px;
    display:grid;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    
}

.card .checkOut div:nth-child(2){
    background-color: #1C1F25;
    color: #fff;
}

.listCard li{
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: #fff;
    row-gap: 10px;
}
.listCard li div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.listCard li img{
    width: 90%;
}
.listCard li button{
    background-color: #fff5;
    border: none;
}
.listCard .count{
    margin: 0 10px;
}
#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(images/home/nb.jpg);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #000000;
}

#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;

}

#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    
}


#newsletter p span{
    
    color: #e2f536;
    
}

#newsletter .form{
    display: flex;
    width: 40%;
}


#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px ;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius:0 ;

}

#newsletter button{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius:0 ;

}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo{
    margin-bottom: 30px;
    height: 120px;
    width: 120px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}


footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i
{
    color: #088178;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;

}

footer .install img{
    margin: 10px 0 15px 0;
    height: 80px;
    width: 200px;
}

#pagination{
    text-align: center;
}
#pagination a {
    text-decoration: none;
    background-color:#088178 ;
    padding: 15px 20px;
    border-radius: 4px;
    color:#fff;
    font-weight: 600;
}
#pagination a i{
    font-size: 16px;
    font-weight: 600;
}
/* single product */
#prodetails{
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-image{
    width:40%;
    margin-right: 50px;
}
.single-img-group{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis:24%;
    cursor:pointer;
}
#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;

}
#prodetails .single-pro-details h4{
padding: 40px 0 20px 0;
}
#prodetails .single-pro-details h2{
    font-size: 26px;
    }
#prodetails .single-pro-details select{
    display: block;  
    padding: 5px 10px;
    margin-bottom: 10px;
        }
#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 10px;
    margin-right: 10px;
    }
#prodetails .single-pro-details input:focus{
       outline: none;
    }
#prodetails .single-pro-details button{
    background: #088178;
    color: #fff;
    }
#prodetails .single-pro-details span{
    line-height :25px; ;
    }

    /* Blog(recipes)Page */
#page-header.blog-header{
    background-image: url("images/home/nb.jpg");
    width: 100%;
    height: 65vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;

}
#page-header h2,
#page-header p{
    color: snow;
}
#blog{
    padding: 150px 150px 0 150px;
}

#blog .blog-box{
    display: flex;
    align-items: center;
    width:100%;
    height: 100%;
    padding-bottom: 90px;

}
#blog .blog-img{
    width: 50%;
    margin-right: 40px;

}
#blog img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
#blog .blog-details a{
    text-decoration: none;
    font-size: 11px;
    color: #000000;
    font-weight: 700;

}

#page-header.about-header{
    background-image: url("images/home/about.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
    }
    #about-head{
        display: flex;
        align-items: center;
    }
    #about-head img{
        width: 50%;
        height: auto;
    }
    
    #about-head div{
        padding-left: 40px;
    }

    /* contact page */

    #contact-details{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #contact-details .details{
        width: 40%;
    }

    #contact-details .details span,
    #form-details form span{
        font-size: 12px;
    }

    #contact-details .details h2,
    #form-details form h2{
        font-size: 26px;
        line-height: 35px;
        padding: 20px 0 ;
    }

    #contact-details .details h3{
        font-size: 16px;
        padding-bottom: 15px;
    }

    #contact-details .details li{
        list-style: none;
        display: flex;
        padding: 10px 0;
    }

#contact-details .details li i{
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .details li p{
    margin: 0;
    font-size: 14px;
}

#contact-details .map{
    width: 55%;
    height: 400px;
}

#contact-details .map iframe{
    width: 100%;
    height: 100%;
}

#form-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

#form-details form input,#form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;


}
#form-details form button{
    background-color: brown;
    color: #fff;
}

#form-details .people div {
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

#form-details .people div img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;

}

#form-details .people div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#form-details .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    columns: #000;
}



/* Rest of your CSS styles for #contact-details */

/* cart 
#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: norwrap;
}
#cart table img{
width: 70px;
}
#cart table td:nth-child(1){
    width: 100px ;
    text-align: center;
}
#cart table td:nth-child(2){
    width: 150px ;
    text-align: center;
}
#cart table td:nth-child(3){
    width: 250px ;
    text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}
#cart table thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}
#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}
#cart table tbody tr td {
    padding-top: 15px;
}
#cart table tbody  td {
    font-size: 13px;
}
#cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#coupon{
    width: 50%;
    margin-bottom: 30px;

}
#coupon h3,
#subtotal h3 {
padding-bottom: 15px;
}
#coupon input{
    padding: 10px 20px ;
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
} 
#coupon button,
#subtotal button{
    background-color: #088178;
    color: #fff;
    padding: 12px 20px;
} 
 #subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
 }
 #subtotal table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    }
#subtotal table td {
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
    }
    #cart-add {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }
     */

     /* Shop */
.shop {
    background-image: url("images/home/b.jpeg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
    }
    #page-header h2,
#page-header h1,
#page-header h4{
color: #fff;
}
/* paymment */
/*
#paymentButton {
    padding: 10px 30px;
    font-size: 16px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

#paymentButton:hover {
    background-color: #0056b3;
}*/